{% set pageNav = null | pageNav %}
{% if pageNav %}
  <div class="page-nav">
    {% if pageNav.prev %}
      <a href="{{ pageNav.prev.href }}" class="page-nav__link" data-type="prev">
        {{ 'arrow-left' | icon({ class: "page-nav__icon" }) | safe }}
        <span class="page-nav__type" {% uiLang %}>{{ 'pageNav.prev.label' | t }}</span>
        <span class="page-nav__label">{{ pageNav.prev.label }}</span>
      </a>
    {% else %}
      <div></div>
    {% endif %}
    {% if pageNav.next %}
      <a href="{{ pageNav.next.href }}" class="page-nav__link" data-type="next">
        <span class="page-nav__type" {% uiLang %}>{{ 'pageNav.next.label' | t }}</span>
        <span class="page-nav__label">{{ pageNav.next.label }}</span>
        {{ 'arrow-right' | icon({ class: "page-nav__icon" }) | safe }}
      </a>
    {% else %}
      <div></div>
    {% endif %}
  </div>
{% endif %}
