.nav-section {
  padding: var(--space-4);
}

.nav-section.nav-section--continued {
  padding-block-start: 0;
}

.nav-section__title {
  margin-block-end: var(--space-2);
  font-size: var(--font-size-sm);
  color: var(--color-neutral-text);
  text-transform: uppercase;
  letter-spacing: 0.04em;
}
