@use "./../2-lib/breakpoints.scss" as *;

.sidebar {
  border-inline-end: 1px solid var(--color-neutral-line);
  background-color: var(--color-background);
  overflow: auto;

  .supports-js & {
    inline-size: 80vi;
    max-inline-size: 500px;
    position: absolute;
    inset-block: 0;
    inset-inline-start: 0;
    z-index: 1;
  }

  &[data-open="false"] {
    display: none;
  }

  @include media-breakpoint-up("xl") {
    block-size: 100%;
    inset: unset;

    &,
    .supports-js & {
      inline-size: 100%;
      position: relative;
    }

    &[data-open="false"] {
      display: block;
    }
  }
}
