---
title: Notes
permalink: "/n/"
panel: false
notesQuery:
  filter: [["url", "isNotEqual", "/"]]
  sort: [["filePathStem", "asc"]]
  tree: true
templateEngineOverride: njk, md
---
<div data-pagefind-ignore>
{{ collections.notes | query(notesQuery) | renderAsList | safe }}
</div>