@use "./3-global/remedy";
@use "./3-global/theme-mode";
@use "./3-global/kbd";

@use "./4-components/code-block";
@use "./4-components/icon-btn";
@use "./4-components/note-link";
@use "./4-components/toggle-btn";

@use "./../lib/core/styles" as core;
@use "./../lib/modules/callouts/styles" as callouts;
@use "./../lib/modules/custom-props/styles" as custom-props;
@use "./../lib/modules/notes/styles" as notes;
@use "./../lib/modules/page-nav/styles" as page-nav;
@use "./../lib/modules/search/styles" as search;
@use "./../lib/modules/sidebar/styles" as sidebar;
@use "./../lib/modules/tags/styles" as tags;
@use "./../lib/modules/themes/styles" as themes;
@use "./../lib/modules/toc/styles" as toc;
@use "./../lib/shared/styles" as shared;

@use "./5-utils/cloak";
@use "./5-utils/hide";
@use "./5-utils/inline";
@use "./5-utils/show";
@use "./5-utils/stack";
@use "./5-utils/visually-hidden";

@use "./../../app.styles.scss";
