@import "./tokens.css";
@import "./remedy.css";

@import "npm:prism-themes/themes/prism-material-light.css";

@import "./blocks/app-header.scss";
@import "./blocks/app-layout.scss";
@import "./blocks/article.scss";
@import "./blocks/grouped-links.scss";
@import "./blocks/icon-btn.scss";
@import "./blocks/nav-group.scss";
@import "./blocks/note-link.scss";
@import "./blocks/page.scss";
@import "./blocks/search.scss";
@import "./blocks/sidebar.scss";
@import "./blocks/toggle-btn.scss";

@import "./utils/hide.scss";
@import "./utils/show.scss";
@import "./utils/spacer.scss";
@import "./utils/stack.scss";
@import "./utils/visually-hidden.scss";

[x-cloak] {
  display: none !important;
}

body {
  font-family: var(--font-family-default);
  color: var(--color-neutral-textContrast);
}
