{% macro editThisNote(config, page) %}
  {% if config and config.url %}
    <a 
      href="{{ page | editThisNoteLink(config) }}"
      {{ 'target="_blank" rel="noopener"' if config.openInNewTab == true else '' }}
      class="toggle-btn"
      lang="en"
    >
      {{ 'edit-2' | feather({ width: '1em', height: '1em' }) | safe }}
      <span>Edit</span>
    </a>
  {% endif %}
{% endmacro %}
