---js
{
  layout: "core/base.layout.njk",
  permalink: function({ page }) {
    const url = this.slugifyPath(page.filePathStem).replace(/\/index$/, '');
    const isRoot = url === "";
    return isRoot ? "/" : `/n/${url}/`;
  }
}
---

<main class="app-layout__main" id="app-content">
  <div class="page">
    <article>
      <h1 class="page__title">{{ title or page.fileSlug }}</h1>
      <div class="article">
        {{ content | safe }}
      </div>
    </article>
  </div>
</main>

{% if panel %}
<div class="app-layout__panel">
  {% include 'modules/notes/notes-panel.partial.njk' %}
</div>
{% endif%}

