---js
{
  layout: "core/base.layout.njk",
  permalink: function({ page }) {
    const url = this.slugifyPath(page.filePathStem).replace(/\/index$/, '');
    const isRoot = url === "";
    return isRoot ? "/" : `/n/${url}/`;
  }
}
---

<div class="page">
  <main class="page__main" id="app-content">
    <article>
      <h1 class="page__title">{{ headline or title or page.fileSlug }}</h1>
      <div class="article">
        {{ content | safe }}
      </div>
    </article>
  </main>

  {% if panel %}
  <div class="page__panel">
    {% include 'modules/notes/notes-panel.partial.njk' %}
  </div>
  {% endif%}
</div>


