---js
{
  layout: "core/base.layout.njk",
  permalink: function({ page, app }) {
    const url = this.slugifyPath(page.filePathStem).replace(/\/index$/, '');
    const isRoot = url === "";
    if (isRoot) return "/";

    const pathPrefix = app.notes.pathPrefix.replace(/^\/|\/$/, '');
    return `/${[pathPrefix, url].filter(Boolean).join('/')}/`;
  }
}
---

<div class="page" data-pagefind-body>
  <main class="page__main" id="app-content" >
    <article>
      <h1 class="page__title">{{ headline or title or page.fileSlug }}</h1>
      <div class="article">
        {{ content | safe }}
      </div>
    </article>
  </main>

  {% if panel %}
  <div class="page__panel">
    {% include 'modules/notes/notes-panel.partial.njk' %}
  </div>
  {% endif%}
</div>


