---
panel: true
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ app.description }}">
    <title>{{ title or page.fileSlug }}</title>
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="stylesheet" href="{{ setup.css.output }}">
  </head>
  <body data-theme="system">
    <script>document.body.setAttribute("data-theme", JSON.parse(localStorage.getItem("theme") ?? '"system"'))</script>
    <script>window.document.documentElement.classList.add("supports-js")</script>
    {% include 'partials/skip-to-content.njk' %}

    <div class="app-layout">
      {% include 'partials/app-header.njk' %}
      <div class="app-layout__wrapper">
        <div class="app-layout__sidebar">
          {% include 'partials/sidebar.njk' %}
        </div>
        {{ content | safe }}
      </div>
    </div>

    <script src="/app.js" data-base="{{ '/' | htmlBaseUrl }}"></script>

    <div aria-hidden="true" hidden>
      {{ 'hash' | feather({ id: 'icon-hash' }) | safe }}
      {{ 'file-text' | feather({ id: 'icon-file-text' }) | safe }}
    </div>

    <div
      class="visually-hidden"
      x-data
      x-text="$store.announce.text"
      x-cloak
      :aria-live="$store.announce.ariaLive"
    ></div>
  </body>
</html>
