---
panel: true
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or page.fileSlug }}</title>
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="stylesheet" href="{{ '/app.css' | url }}">
  </head>
  <body data-theme="system">
    <div class="app-layout" data-panel="{{ panel }}">
      {% include 'partials/app-header.njk' %}
      {% include 'partials/sidebar.njk' %}
      {{ content | safe }}
    </div>

    <script src="{{ '/app.js' | url }}"></script>

    <div aria-hidden="true" hidden>
      {% include 'icons/hash.svg' %}
      {% include 'icons/file-text.svg' %}
    </div>
  </body>
</html>
