---
layout: "layouts/base.njk"
---

<main class="app-layout__main" id="app-content">
  <div class="page page--centered">
    <article class="article">
      <h1 class="page__title">{{ title or page.fileSlug }}</h1>
      <div class="article__content">
        {{ content | safe }}
      </div>
    </article>
  </div>
</main>

{% if panel %}
{% include 'partials/panel.njk' %}
{% endif%}
