{% macro editThisNote(config, page) %}
  {% if config and config.url %}
    <a 
      href="{{ page | editThisNoteLink(config) }}"
      {{ 'target="_blank" rel="noopener"' if config.openInNewTab == true else '' }}
      class="toggle-btn"
      aria-label="Edit this note"
    >
      {{ 'edit-2' | feather({ width: 16, height: 16 }) | safe }}
    </a>
  {% endif %}
{% endmacro %}
