{% macro favToggle(id) %}
  <button
    x-data x-cloak
    type="button"
    class="toggle-btn"
    :aria-pressed="$store.favorites.is('{{ id }}')"
    aria-label="Favorite"
    @click="$store.favorites.toggle('{{ id }}')"
  >
    {{ 'star' | feather | safe }}
  </button>
{% endmacro %}
