{% macro searchInput(mode) %}
  {% set placeholder = 'Quick find (alt+f)' if mode == 'overlay' else 'Search' %}
  {% set init = "$store.hotkeys.register('alt+f', () => $el.focus())" if mode === 'overlay' else null %}

  {% if mode === 'inline' %}
    <noscript>
      Please enable JavaScript to use the search.
    </noscript>
  {% endif %}

  <div  x-cloak x-data="search" @click.away="open = false" class="search" data-mode="{{ mode }}">
    <input
      type="text" 
      placeholder="{{ placeholder }}"
      class="search__input"
      x-model="term"
      x-init="{{ init }}"
      @focus="open = true"
      @keydown="onKeyDown"
      @pageshow.window="term = $el.value"
      {{ 'autofocus' if mode === 'inline' else '' }}
    >
    <template x-if="open{{ '|| true' if mode === 'inline' else '' }}">
      <div class="search__popover">
        <div x-show="!term" class="search__info">
          Search for notes by title, content and #tags
        </div>
        <div x-show="!!term && results && !results.length" class="search__info">
          No notes found, try a different search term.
        </div>
        <div x-show="!!term && !results" class="search__info">
          Searching...
        </div>

        <ul x-show="term && results && results.length" class="search__results" aria-label="Results">
          <template x-for="(result, index) in results" :key="result.url">
            <li>
              <a
                :href="result.url"
                class="search__result"
                :data-selected="index === selectedIndex"
                x-effect="index === selectedIndex && $el.scrollIntoView({ block: 'nearest' })"
              >
                <span class="search__note-title" x-text="result.title"></span>
                <span class="search__note-content" x-text="result.previewText" aria-hidden="true"></span>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </template>
  </div>

{% endmacro %}