{% macro sidebarTree(tree, group, page) %}
  <ul class="nav-list" aria-labelledby="app:sidebar:section:notes:group:{{ group.id }}:title">
    {% for item in tree %}
      <li
        {% if item.children.length %}
          x-data="collapsible('app:sidebar:section:notes:group:{{group.id}}:tree:{{item.key}}', {{ item.expanded }})"
        {% endif %}
      >
        {% if item.note %}
          <div class="nav-list__link-with-toggle">
            <a
              href="{{ item.note.url }}"
              {{ item.note.url | ariaCurrent(page) }}
              class="nav-list__link"
            >
              <span>{{ item.label }}</span>
            </a>
            {% if item.children.length %}
              <button
                type="button"
                class="nav-list__link nav-list__toggle"
                aria-controls="app:sidebar:section:notes:group:{{ group.id }}:tree:{{ item.key }}:list"
                aria-expanded="true"
                :aria-expanded="expanded"
                @click="toggle()"
              >
                {{ 'chevron-right' | feather | safe }}
                <span class="visually-hidden">
                  Toggle {{ item.label }}
                </span>
              </button>
            {% endif %}
          </div>
        {% else %}
          <button
            type="button"
            class="nav-list__link nav-list__toggle"
            aria-controls="app:sidebar:section:notes:group:{{ group.id }}:tree:{{ item.key }}:list"
            aria-expanded="true"
            :aria-expanded="expanded"
            @click="toggle()"
          >
            <span>{{ item.label }}</span>
            {{ 'chevron-right' | feather | safe }}
          </button>
        {% endif %}

        {% if item.children.length %}
          <div x-show="expanded" id="app:sidebar:section:notes:group:{{ group.id }}:tree:{{ item.key }}:list">
            {{ sidebarTree(item.children, group, page) }}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
