{% from 'macros/search.njk' import searchInput %}

<header class="app-layout__header header" x-data>
  {% include 'partials/nav-toggle.njk' %}
  <div class="header__title">Notes</div>
  <div class="spacer"></div>
  
  <div class="show-md">
    {{ searchInput('overlay') }}
  </div>
  <div class="hide-md">
    {% include 'partials/search-button.njk' %}
  </div>
</header>
