<div class="hide-xl">
  <button
    class="icon-btn"
    :aria-expanded="$store.nav.open"
    @click="$store.nav.toggle()"
  >
    {% include 'icons/menu.svg' %}
    <span class="visually-hidden">Menu</span>
  </button>
</div>
