{% macro bookmarkToggle(id) %}
  <button
    x-data x-cloak
    type="button"
    class="toggle-btn"
    :aria-pressed="$store.bookmarks.is('{{ id }}')"
    @click="$store.bookmarks.toggle('{{ id }}')"
    lang="en"
  >
    {{ 'bookmark' | feather | safe }}
    <span>Bookmark</span>
  </button>
{% endmacro %}
