{% from 'modules/search/search.macro.njk' import searchInput %}

<header class="app-header" x-data x-bind="WindowScroll">
  {% include 'core/nav-toggle.partial.njk' %}

  <a href="/" class="app-header__title">
    {{ app.title }}
  </a>

  <div class="app-header__search show-md">
    {{ searchInput('overlay') }}
  </div>

  <div class="hide-md">
    {% include 'modules/search/search-button.partial.njk' %}
  </div>
  {% include 'modules/themes/theme-switcher.partial.njk' %}
</header>
