---
title: Home
layout: base
permalink: "/"
---

<main class="page page--centered">
  <h1 class="page__title">Notes</h1>
  {% for note in collections.notes %}
    <div class="note">
      <h2><a href="{{ note.url }}">{{ note.data.title or note.page.fileSlug }}</a></h2>
      <p>{{ note.data.description }}</p>
    </div>
  {% endfor %}
</main>