---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
  addAllPagesToCollections: true
layout: base
eleventyComputed:
  title: "Tag #{{ tag }}"
permalink: /tags/{{ tag | slug }}/
---
<h1>Tag #{{ tag }}</h1>

<ul>
  {% for post in collections[tag] %}
    <li><a href="{{ post.url }}">{{ post.data.title or post.page.fileSlug }}</a></li>
  {% endfor %}
</ul>

See <a href="{{ '/tags' | url }}">all tags</a>.