---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
  addAllPagesToCollections: true
layout: base
eleventyComputed:
  title: "Tag #{{ tag }}"
permalink: /tags/{{ tag | slug }}/
---

<main class="app__main">
  <div class="page page--centered">
    <h1 class="page__title">#{{ tag }}</h1>
    <ul role="list" class="stack">
      {% for post in collections[tag] %}
        <li>
          <a href="{{ post.url }}" class="note-link">
            {{ post.data.title or post.page.fileSlug }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</main>
