---
title: Tags
layout: base
permalink: "/tags/"
---

<main class="app__main">
  <div class="page page--centered">
    <h1 class="page__title">Tags</h1>
    <div class="tags-overview">
      {% for tag in collections.tags %}
        <div class="tags-overview__tag">
          <h2>#{{ tag }}</h2>
          <ul class="tags-overview__list">
            {% for post in collections[tag] %}
              <li>
                <a href="{{ post.url }}" class="note-link">
                  {{ post.data.title or post.page.fileSlug }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
</main>
