---
title: Tags
layout: base
permalink: "/tags/"
---

<main class="app__main">
  <div class="page page--centered">
    <h1 class="page__title">Tags</h1>
    {% for tag in collections.tags %}
      <div class="tag">
        <h2>{{ tag }}</h2>
        <ul>
          {% for post in collections[tag] %}
            <li><a href="{{ post.url }}">{{ post.data.title or post.page.fileSlug }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</main>

