{% from 'modules/sidebar/sidebar-tree.macro.njk' import sidebarTree %}

<aside>
  <h2 class="visually-hidden" lang="{% uiLang %}">{{ 'sidebar.label' | t }}</h2>

  <nav aria-labelledby="app:sidebar:nav" class="nav-section">
    <h3 id="app:sidebar:nav" class="visually-hidden" lang="{% uiLang %}">{{ 'sidebar.sections.main.label' | t }}</h3>
    <ul class="nav-list" role="list" aria-labelledby="app:sidebar:nav">
      <li>
        <a
          href="/"
          {{ '/' | ariaCurrent }}
          class="nav-list__link"
        >
          {{ 'home' | icon | safe }}
          {% set indexQuery = { filter: [['url', 'isEqual', '/' ]] } %}
          {% set indexNote = (collections._notes | query(indexQuery)) | first %}
          <span>{{ (indexNote.data.navTitle or indexNote.data.title) if indexNote else ('sidebar.sections.main.home_link' | t) }}</span>
        </a>
      </li>
      {% if collections.tags.length %}
        <li>
          <a
            href="/tags/"
            {{ '/tags/' | ariaCurrent }}
            class="nav-list__link"
            lang="{% uiLang %}"
          >
            {{ 'hash' | iconRef | safe }}
            <span>{{ 'sidebar.sections.main.tags_link' | t }}</span>
          </a>
        </li>
      {% endif %}
      <li>
        <a
          href="/search/"
          {{ '/search/' | ariaCurrent }}
          class="nav-list__link"
          lang="{% uiLang %}"
        >
          {{ 'search' | icon | safe }}
          <span>{{ 'sidebar.sections.main.search_link' | t }}</span>
        </a>
      </li>
    </ul>
  </nav>

  {% if app.sidebar.links.length %}
    <nav aria-labelledby="app:sidebar:section:links" class="nav-section nav-section--continued">
      <h3 id="app:sidebar:section:links" class="visually-hidden" lang="{% uiLang %}">
        {{ 'sidebar.sections.links.label' | t }}
      </h3>
      <ul class="nav-list" role="list" aria-labelledby="app:sidebar:section:links">
        {% for item in app.sidebar.links %}
          <li>
            <a
              href="{{ item.url }}"
              {{ 'target="_blank" rel="noopener"' if item.openInNewTab != false else '' }}
              class="nav-list__link"
            >
              {{ item.icon | icon | safe }}
              <span>{{ item.label }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}

  <template x-if="$store.bookmarks.items.length">
    <nav aria-labelledby="app:sidebar:section:bookmarks" class="nav-section" x-cloak>
      <h3 id="app:sidebar:section:bookmarks" class="nav-section__title" lang="{% uiLang %}">
        {{ 'sidebar.sections.bookmarks.label' | t }}
      </h3>
      <ul class="nav-list" role="list" aria-labelledby="app:sidebar:section:bookmarks">
        <template x-for="bkm in $store.bookmarks.items">
          <li>
            <a :href="bkm" class="nav-list__link">
              {{ 'file-text' | icon | safe }}
              <span x-text="$store.bookmarks.index[bkm] || bkm"></span>
            </a>
          </li>
        </template>
      </ul>
    </nav>
  </template>

  {% if collections._sidebarSections.length %}
    {% for section in collections._sidebarSections %}
      <nav aria-labelledby="app:sidebar:section:{{ section.id }}" class="nav-section">
        <h3 id="app:sidebar:section:{{ section.id }}" class="nav-section__title">{{ section.label }}</h3>
        {% for group in section.groups %}
          <div
            class="nav-group"
            {% if group.label %}
            x-data="collapsible('app:sidebar:section:{{ section.id }}:group:{{ group.id }}:list', {{ group.expanded }})"
            :data-expanded="expanded"
            {% endif %}
            data-expanded="true"
          >
            {% if group.label %}
              <h4 class="nav-group__title" id="app:sidebar:section:{{ section.id }}:group:{{ group.id }}:title">
                <button
                  type="button"
                  class="nav-group__toggle" 
                  aria-controls="app:sidebar:section:{{ section.id }}:group:{{ group.id }}:list"
                  aria-expanded="true"
                  :aria-expanded="expanded"
                  @click="toggle()"
                >
                  <span>{{ group.label }}</span>
                  {{ 'chevron-right' | icon | safe }}
                </button>
              </h4>
            {% endif %}
            <div 
              {% if group.label %}x-show="expanded"{% endif %}
              id="app:sidebar:section:{{ section.id }}:group:{{ group.id }}:list">
              {{ sidebarTree(section.id, group.tree, group, page) }}
            </div>
          </div>
        {% endfor %}
      </nav>
    {% endfor %}
  {% endif %}

  {% if collections.tags.length %}
    <nav aria-labelledby="app:sidebar:section:tags" class="nav-section">
      <h3 id="app:sidebar:section:tags" class="nav-section__title" lang="{% uiLang %}">
        {{ 'sidebar.sections.tags.label' | t }}
      </h3>
      <ul class="nav-list" role="list" aria-labelledby="app:sidebar:section:tags">
        {% for tag in collections.tags %}
        <li>
          <a
            href="{{ tag.url }}"
            {{ tag.url | ariaCurrent }}
            class="nav-list__link"
          >
            {{ 'hash' | iconRef | safe }}
            <span>{{ tag.label }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
</aside>
