{% macro sidebarTree(sectionId, tree, group, page, level = 0) %}
  <ul 
    class="nav-list"
    role="list"
    aria-labelledby="app:sidebar:section:{{ sectionId }}:group:{{ group.id }}:title"
    style="--nav-list-level:{{ level }}">
    {% for item in tree %}
      <li
        {% if item.children.length %}
          x-data="collapsible('app:sidebar:section:{{ sectionId }}:group:{{group.id}}:tree:{{item.$treeKey}}', {{ item.$treeExpanded }})"
        {% endif %}
      >
        {% if item.url %}
          <div class="nav-list__link-with-toggle">
            <a
              href="{{ item.url }}"
              {{ item.url | ariaCurrent(page) }}
              class="nav-list__link"
            >
              <span>{{ item.title }}</span>
            </a>
            {% if item.children.length %}
              <button
                type="button"
                class="nav-list__link nav-list__toggle"
                aria-controls="app:sidebar:section:{{ sectionId }}:group:{{ group.id }}:tree:{{ item.$treeKey }}:list"
                aria-expanded="true"
                :aria-expanded="expanded"
                @click="toggle()"
              >
                {{ 'chevron-right' | icon | safe }}
                <span class="visually-hidden">
                  {{ 'sidebar.nav_item_toggle.label' | t({ title: item.title }) }}
                </span>
              </button>
            {% endif %}
          </div>
        {% else %}
          <button
            type="button"
            class="nav-list__link nav-list__toggle"
            aria-controls="app:sidebar:section:{{ sectionId }}:group:{{ group.id }}:tree:{{ item.$treeKey }}:list"
            aria-expanded="true"
            :aria-expanded="expanded"
            @click="toggle()"
          >
            <span>{{ item.title }}</span>
            {{ 'chevron-right' | icon | safe }}
          </button>
        {% endif %}

        {% if item.children.length %}
          <div x-show="expanded" id="app:sidebar:section:{{ sectionId }}:group:{{ group.id }}:tree:{{ item.$treeKey }}:list">
            {{ sidebarTree(sectionId, item.children, group, page, level + 1) }}
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
