@use "./../tools/breakpoints.scss" as *;

.page {
  padding-block: var(--space-4);
  padding-inline: var(--space-4);

  @include media-breakpoint-up("md") {
    padding-block: var(--space-6);
    padding-inline: var(--space-6);
  }
}

.page--centered {
  inline-size: 100%;
  max-inline-size: 70ch;
  margin-inline: auto;
}

.page__title {
  margin: 0;
  margin-block-end: var(--space-6);
  font-size: var(--font-size-fluid-3);
  line-height: 1.3;
}
