.app {
  min-block-size: 100vb;
  display: grid;
  grid-template-columns: 300px minmax(0, 1fr) 250px;
  grid-template-rows: auto minmax(0, 1fr);
  gap: var(--size-4);
}

.app__header {
  display: flex;
  gap: var(--space-6);
  align-items: center;
  padding-block: var(--space-2);
  padding-inline: var(--space-4);
  border-block-end: 1px solid var(--color-neutral-line);
  grid-column: 1 / -1;
}

.app__sidebar {
  border-inline-end: 1px solid var(--color-neutral-line);
  background-color: var(--color-neutral-base);
}
