.article__content {
  max-inline-size: 70ch;
  margin-inline-end: auto;
  margin-block: var(--space-6);
}

.article__title {
  margin: 0;
  margin-block-end: var(--space-6);
  font-size: var(--font-size-4xl);
}

.article__content a {
  color: var(--color-primary-text);
  text-decoration-offset: 2px;
}

.article__content .direct-link {
  text-decoration: none;
  margin-inline-start: 0.1em;
}

.article__content a[href].direct-link,
.article__content a[href].direct-link:visited {
  color: transparent;
}

.article__content a[href].direct-link:focus,
.article__content a[href].direct-link:focus:visited,
.article__content *:hover > a[href].direct-link,
.article__content *:hover > a[href].direct-link:visited {
  color: var(--color-neutral-text);
}
