.article__content {
  max-inline-size: 70ch;
  margin-inline-end: auto;
  margin-block: var(--space-6);
}

.article__title {
  margin: 0;
  margin-block-end: var(--space-6);
  font-size: var(--font-size-4xl);
}
