.sidebar {
  position: relative;
  z-index: 1;
  overflow: auto;
  border-inline-end: 1px solid var(--color-neutral-line);
  background-color: var(--color-neutral-base);

  &[data-open="false"] {
    display: none;
  }

  @media (min-width: 50em) {
    inline-size: 380px;
    position: absolute;
    inset: 0;
  }

  @media (min-width: 75em) {
    position: relative;
    inline-size: 100%;
    inset: unset;

    &[data-open="false"] {
      display: block;
    }
  }
}
