.tags-overview__tag + .tags-overview__tag {
  margin-block-start: var(--space-6);
}

.tags-overview__list {
  margin: 0;
  margin-block-start: var(--space-2);
  padding: 0;
  list-style: none;
}

.tags-overview__list > li + li {
  margin-block-start: var(--space-2);
}
