---
title: Home
layout: base
permalink: "/"
panel: false
---

<main class="app__main">
  <div class="page page--centered">
    <h1 class="page__title">Notes</h1>
    <ul role="list" class="stack">
      {% for note in collections.notes %}
        <li>
          <a href="{{ note.url }}" class="note-link">
            {{ note.data.title or note.page.fileSlug }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</main>
