---
title: Search
layout: "layouts/base.njk"
permalink: "/search/"
panel: false
---

{% from 'macros/search.njk' import searchInput %}

<main class="app-layout__main" id="app-content">
  <div class="page content-block">
    <h1 class="page__title">Search</h1>
    {{ searchInput('inline') }}
  </div>
</main>

