---
title: Search
layout: "layouts/base.njk"
permalink: "/search/"
panel: false
---

{% from 'macros/search.njk' import searchInput %}

<main class="app-layout__main" id="app-content">
  <div class="page" data-panel="false">
    <div class="page__wrapper">
      <div class="page__main">
        <h1 class="page__title">Search</h1>
        {{ searchInput('inline') }}
      </div>
    </div>
  </div>
</main>

