---
pagination:
  data: collections.tags
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: "core/base.layout.njk"
eleventyComputed:
  title: "Tag: {{ tag.label }}"
permalink: "{{ tag.url }}"
panel: false
---

<div class="page">
  <main class="page__main" id="app-content">
    <h1 class="page__title"><span lang="en">Tag:</span> {{ tag.label }} <small>({{ tag.notes.length }})</small></h1>
    <ul role="list" class="stack">
      {% for post in tag.notes | sortNotesByTitle %}
        <li>
          <a href="{{ post.url }}" class="note-link">
            {{ post.data.title or post.page.fileSlug }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </main>
</div>