---
title: Tags
layout: "core/base.layout.njk"
permalink: "/tags/"
panel: false
---

<div class="page">
  <main class="page__main" id="app-content">
    <h1 class="page__title" lang="en">Tags <small>({{ collections.tags.length }})</small></h1>
    <div class="stack" data-stack="6">
      <ul role="list" class="tags-list">
        {% for tag in collections.tags %}
          <li>
            <a href="#{{ tag.slug }}" class="note-link"># {{ tag.label }}</a>
          </li>
        {% endfor %}
      </ul>
      <hr>
      {% for tag in collections.tags %}
        <div class="stack">
          <h2 id="{{ tag.slug }}">{{ tag.label }} <small>({{ tag.notes.length }})</small></h2>
          <ul role="list" class="stack">
            {% for post in tag.notes %}
              <li>
                <a href="{{ post.url }}" class="note-link">
                  {{ post.data.title or post.page.fileSlug }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </main>
</div>