$slate: (
  1: hsl(206, 30%, 98.8%),
  2: hsl(210, 16.7%, 97.6%),
  3: hsl(209, 13.3%, 95.3%),
  4: hsl(209, 12.2%, 93.2%),
  5: hsl(208, 11.7%, 91.1%),
  6: hsl(208, 11.3%, 88.9%),
  7: hsl(207, 11.1%, 85.9%),
  8: hsl(205, 10.7%, 78%),
  9: hsl(206, 6%, 56.1%),
  10: hsl(206, 5.8%, 52.3%),
  11: hsl(206, 6%, 43.5%),
  12: hsl(206, 24%, 9%),
);

$slate-dark: (
  1: hsl(200, 7%, 8.8%),
  2: hsl(195, 7.1%, 11%),
  3: hsl(197, 6.8%, 13.6%),
  4: hsl(198, 6.6%, 15.8%),
  5: hsl(199, 6.4%, 17.9%),
  6: hsl(201, 6.2%, 20.5%),
  7: hsl(203, 6%, 24.3%),
  8: hsl(207, 5.6%, 31.6%),
  9: hsl(206, 6%, 43.9%),
  10: hsl(206, 5.2%, 49.5%),
  11: hsl(206, 6%, 63%),
  12: hsl(210, 6%, 93%),
);

$sky: (
  1: hsl(193, 100%, 98.8%),
  2: hsl(193, 100%, 97.3%),
  3: hsl(193, 99%, 94.7%),
  4: hsl(193, 91.4%, 91.4%),
  5: hsl(194, 82%, 86.6%),
  6: hsl(194, 74.1%, 79.5%),
  7: hsl(194, 72.3%, 69.6%),
  8: hsl(193, 77.9%, 53.9%),
  9: hsl(193, 98%, 70%),
  10: hsl(193, 87%, 66.5%),
  11: hsl(195, 100%, 31.5%),
  12: hsl(195, 100%, 13%),
);

$sky-dark: (
  1: hsl(205, 45%, 8.6%),
  2: hsl(202, 71.4%, 9.6%),
  3: hsl(201, 74.6%, 12.2%),
  4: hsl(201, 77.4%, 14.4%),
  5: hsl(200, 80.3%, 16.5%),
  6: hsl(200, 84.1%, 18.9%),
  7: hsl(199, 90.2%, 22.1%),
  8: hsl(198, 100%, 26.1%),
  9: hsl(193, 98%, 70%),
  10: hsl(192, 100%, 77%),
  11: hsl(192, 85%, 55.8%),
  12: hsl(198, 98%, 95.8%),
);
