@use "sass:map";
@use "./themes";
@use "./colors.generated" as colors;

$theme-name: "sky" !default;

$primary-color: $theme-name;
$neutral-color: map.get(themes.$neutrals, $theme-name);

@function step($color, $step, $alpha: false) {
  $light: color-value($color, $step, $alpha, $dark: false);
  $dark: color-value($color, $step, $alpha, $dark: true);
  @return ld($light, $dark);
}

@function color-value($color, $step, $alpha: false, $dark: false) {
  $name: "#{$color}#{if($dark, "Dark", "")}#{if($alpha, "A", "")}#{$step}";

  @if map.has-key(colors.$values, $name) {
    @return map.get(colors.$values, $name);
  }

  @error "Color `#{$name}` not found ";
}

@function ld($light, $dark) {
  @return var(--light, #{$light}) var(--dark, #{$dark});
}

:root {
  --font-family-default: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;

  // "https://utopia.fyi/type/calculator?c=320,16,1.125,1240,18,1.125,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12",
  --font-size-fluid-x2: clamp(0.79rem, calc(0.76rem + 0.17vw), 0.89rem);
  --font-size-fluid-x1: clamp(0.89rem, calc(0.85rem + 0.19vw), 1rem);
  --font-size-fluid-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --font-size-fluid-1: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.27rem);
  --font-size-fluid-2: clamp(1.27rem, calc(1.21rem + 0.28vw), 1.42rem);
  --font-size-fluid-3: clamp(1.42rem, calc(1.36rem + 0.31vw), 1.6rem);
  --font-size-fluid-4: clamp(1.6rem, calc(1.53rem + 0.35vw), 1.8rem);
  --font-size-fluid-5: clamp(1.8rem, calc(1.72rem + 0.39vw), 2.03rem);
  --font-size-fluid-6: clamp(2.03rem, calc(1.94rem + 0.44vw), 2.28rem);
  --font-size-fluid-7: clamp(2.28rem, calc(2.18rem + 0.5vw), 2.57rem);
  --font-size-fluid-8: clamp(2.57rem, calc(2.45rem + 0.56vw), 2.89rem);

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --rounded-sm: 2px;
  --rounded-md: 4px;
  --rounded-lg: 8px;
  --rounded-full: 9999px;

  --shadow-xs: 0 1px 3px rgba(100, 100, 100, 0.09);
  --shadow-sm: 0 1px 5px rgba(100, 100, 100, 0.05);
  --shadow-md: 0 0 0 1px var(--color-neutral-border),
    0 1px 5px rgba(100, 100, 100, 0.05), 0 0 40px rgba(100, 100, 100, 0.015);
  --shadow-lg: 0 0 0 1px var(--color-neutral-border),
    0 5px 17px rgba(100, 100, 100, 0.14);
  --shadow-xl: 0 4px 12px rgba(100, 100, 100, 0.15),
    0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-xxl: 0 24px 38px 3px rgba(100, 100, 100, 0.16),
    0 9px 86px 8px rgba(100, 100, 100, 0.1),
    0 11px 15px -7px rgba(100, 100, 100, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.05);

  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 36px;
  --space-7: 48px;
  --space-8: 64px;

  --color-backdrop: #{ld("rgba(0, 0, 0, 0.25)", "rgba(0, 0, 0, 0.5)")};
  --color-background: #{ld("#fff", color-value($neutral-color, 1, $dark: true))};
  --color-surface: #{ld("#fff", color-value($neutral-color, 1, $dark: true))};

  --color-primary-mark: #{step-alpha($primary-color, 5)};

  --color-primary-bg-subtle: #{step($primary-color, 2)};
  --color-primary-bg: #{step($primary-color, 3)};
  --color-primary-bg-hover: #{step($primary-color, 4)};
  --color-primary-bg-active: #{step($primary-color, 5)};
  --color-primary-line-weak: #{step($primary-color, 5)};
  --color-primary-line: #{step($primary-color, 6)};
  --color-primary-border: #{step($primary-color, 7)};
  --color-primary-border-hover: #{step($primary-color, 8)};
  --color-primary-focus-ring: #{step($primary-color, 8)};
  --color-primary-bg-solid: #{step($primary-color, 9)};
  --color-primary-bg-solid-hover: #{step($primary-color, 10)};
  --color-primary-text: #{step($primary-color, 11)};
  --color-primary-text-contrast: #{step($primary-color, 12)};
  --color-primary-placeholder: #{step($primary-color, 9)};

  --color-neutral-bg-subtle: #{step($neutral-color, 2)};
  --color-neutral-bg: #{step($neutral-color, 3)};
  --color-neutral-bg-hover: #{step($neutral-color, 4)};
  --color-neutral-bg-active: #{step($neutral-color, 5)};
  --color-neutral-line-weak: #{step($neutral-color, 5)};
  --color-neutral-line: #{step($neutral-color, 6)};
  --color-neutral-border: #{step($neutral-color, 7)};
  --color-neutral-border-hover: #{step($neutral-color, 8)};
  --color-neutral-focus-ring: #{step($neutral-color, 8)};
  --color-neutral-bg-solid: #{step($neutral-color, 9)};
  --color-neutral-bg-solid-hover: #{step($neutral-color, 10)};
  --color-neutral-text: #{step($neutral-color, 11)};
  --color-neutral-text-contrast: #{step($neutral-color, 12)};
  --color-neutral-placeholder: #{step($neutral-color, 9)};

  --callout-blue-text: #{step("blue", 11, $alpha: true)};
  --callout-blue-bg: #{step("blue", 3, $alpha: true)};
  --callout-mint-text: #{step("mint", 11, $alpha: true)};
  --callout-mint-bg: #{step("mint", 3, $alpha: true)};
  --callout-green-text: #{step("green", 11, $alpha: true)};
  --callout-green-bg: #{step("green", 3, $alpha: true)};
  --callout-orange-text: #{step("orange", 11, $alpha: true)};
  --callout-orange-bg: #{step("orange", 3, $alpha: true)};
  --callout-red-text: #{step("red", 11, $alpha: true)};
  --callout-red-bg: #{step("red", 3, $alpha: true)};
  --callout-purple-text: #{step("purple", 11, $alpha: true)};
  --callout-purple-bg: #{step("purple", 3, $alpha: true)};
  --callout-gray-text: #{step("gray", 11, $alpha: true)};
  --callout-gray-bg: #{step("gray", 2, $alpha: true)};
}
