@use "sass:math";

@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

$tokens: (
  font-family: (
    default: (
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji",
    ),
    mono: (
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace,
    ),
  ),
  space: (
    0: 0,
    1: 4px,
    2: 8px,
    3: 12px,
    4: 16px,
    5: 24px,
    6: 36px,
    7: 48px,
    8: 64px,
  ),
  rounded: (
    none: 0,
    sm: 2px,
    md: 4px,
    lg: 8px,
    full: 9999px,
  ),
  font-size: (
    xs: rem(12),
    sm: rem(14),
    md: rem(16),
    lg: rem(18),
    xl: rem(20),
    2xl: rem(24),
    3xl: rem(32),
    4xl: rem(40),
    // https://utopia.fyi/type/calculator?c=320,16,1.125,1240,18,1.125,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
    fluid--1: clamp(0.89rem, calc(0.85rem + 0.19vw), 1rem),
    fluid-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem),
    fluid-1: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.27rem),
    fluid-2: clamp(1.27rem, calc(1.21rem + 0.28vw), 1.42rem),
    fluid-3: clamp(1.42rem, calc(1.36rem + 0.31vw), 1.6rem),
    fluid-4: clamp(1.6rem, calc(1.53rem + 0.35vw), 1.8rem),
    fluid-5: clamp(1.8rem, calc(1.72rem + 0.39vw), 2.03rem),
    fluid-6: clamp(2.03rem, calc(1.94rem + 0.44vw), 2.28rem),
    fluid-7: clamp(2.28rem, calc(2.18rem + 0.5vw), 2.57rem),
    fluid-8: clamp(2.57rem, calc(2.45rem + 0.56vw), 2.89rem),
  ),
  font-weight: (
    normal: 400,
    medium: 500,
    bold: 700,
  ),
);
