@use "sass:map";
@use "./../2-lib/map-utils.scss";
@use "./color-builder.scss";
@use "./palettes.scss" as *;

@function build($color, $dark: false) {
  $suffix: if($dark, "-dark", "");
  $primary-palette: map.get($palettes, map.get($color, "primary") + $suffix);
  $neutral-palette: map.get($palettes, map.get($color, "neutral") + $suffix);

  $tokens: (
    color:
      map-utils.merge-all(
        color-builder.build("neutral", $neutral-palette),
        color-builder.build("primary", $primary-palette),
        (
          on-primary: map.get($color, "on-primary"),
          background: if($dark, map.get($neutral-palette, 1), #fff),
          surface: if($dark, map.get($neutral-palette, 1), #fff),
        )
      ),
    shadow: (
      xs: 0 1px 3px rgba(100, 100, 100, 0.09),
      sm: 0 1px 5px rgba(100, 100, 100, 0.05),
      md: (
        0 0 0 1px var(--color-neutral-border),
        0 1px 5px rgba(100, 100, 100, 0.05),
        0 0 40px rgba(100, 100, 100, 0.015),
      ),
      lg: (
        0 0 0 1px var(--color-neutral-border),
        0 5px 17px rgba(100, 100, 100, 0.14),
      ),
      xl: (
        0 4px 12px rgba(100, 100, 100, 0.15),
        0 0 0 1px rgba(0, 0, 0, 0.05),
      ),
      xxl: (
        0 24px 38px 3px rgba(100, 100, 100, 0.16),
        0 9px 86px 8px rgba(100, 100, 100, 0.1),
        0 11px 15px -7px rgba(100, 100, 100, 0.1),
        0 0 0 1px rgba(0, 0, 0, 0.05),
      ),
    ),
  );

  @return $tokens;
}
