@use "sass:math";

@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

$tokens: (
  font-family: (
    default: (
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji",
    ),
    mono: (
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      "Courier New",
      monospace,
    ),
  ),
  space: (
    0: 0,
    1: 4px,
    2: 8px,
    3: 12px,
    4: 16px,
    5: 24px,
    6: 36px,
    7: 48px,
    8: 64px,
  ),
  rounded: (
    none: 0,
    sm: 2px,
    md: 4px,
    lg: 8px,
    full: 9999px,
  ),
  font-size: (
    xs: rem(12),
    sm: rem(14),
    md: rem(16),
    lg: rem(18),
    xl: rem(20),
    2xl: rem(24),
    3xl: rem(32),
    4xl: rem(40),
    fluid--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.8rem),
    fluid--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1rem),
    fluid-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem),
    fluid-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem),
    fluid-2: clamp(1.62rem, calc(1.5rem + 0.58vw), 1.95rem),
    fluid-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem),
    fluid-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem),
    fluid-5: clamp(2.8rem, calc(2.45rem + 1.77vw), 3.82rem),
  ),
  font-weight: (
    normal: 400,
    medium: 500,
    bold: 700,
  ),
);
