@use "sass:map";
@use "./../tools/map-utils.scss";
@use "./palettes.scss";
@use "./colors.scss";

$tokens: (
  color:
    map-utils.merge-all(
      (
        background: #fff,
        surface: #fff,
      ),
      colors.build("neutral", palettes.$slate),
      colors.build(
        "primary",
        palettes.$sky,
        (
          on-primary: #000,
        )
      )
    ),
  shadow: (
    xs: 0 1px 3px rgba(12, 12, 12, 0.09),
    sm: 0 1px 5px rgba(12, 12, 12, 0.05),
    md: (
      0 0 0 1px var(--color-neutral-border),
      0 1px 5px rgba(12, 12, 12, 0.05),
      0 0 40px rgba(12, 12, 12, 0.015),
    ),
    lg: (
      0 0 0 1px var(--color-neutral-border),
      0 5px 17px rgba(12, 12, 12, 0.14),
    ),
    xl: (
      0 4px 12px rgba(12, 12, 12, 0.15),
      0 0 0 1px rgba(0, 0, 0, 0.05),
    ),
    xxl: (
      0 24px 38px 3px rgba(12, 12, 12, 0.16),
      0 9px 86px 8px rgba(12, 12, 12, 0.1),
      0 11px 15px -7px rgba(12, 12, 12, 0.1),
      0 0 0 1px rgba(0, 0, 0, 0.05),
    ),
  ),
);
