<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or page.fileSlug }}</title>
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="stylesheet" href="{{ '/app.css' | url }}">
  </head>
  <body>
    <div class="app">
      {% include '_partials/header.njk' %}
      {% include '_partials/sidebar.njk' %}
      {{ content | safe }}
    </div>

    <script src="{{ '/app.js' | url }}"></script>
  </body>
</html>
